<div id="helpdesk-list" class="col s12 tab-content padding-zero" style="display: block;">
<div class="employee-form helpdesk-emp">
    <div class="row m-bottom0">
        <div class="col s12 l6 m-top20 m-bottom20">
            <input type="checkbox" id="showUnassigned" [(ngModel)]="showUnassigned" name='showUnassigned' (ngModelChange)="showUnassignedEvent($event)"/>
            <label for="showUnassigned"> Show Unassigned Tickets</label>
        </div>
        <div class="custom-input-field m-bottom0 col s12 l3">
            <h6>Search by Status</h6>
            <select materialize="material_select" [materializeSelectOptions]="issueStatusCollection" [(ngModel)]="selectedStatus" (change)="onIssueStatusChanged($event.target.value)">
                    <option *ngFor="let option of issueStatusCollection" [value]="option.id">{{option.text}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row main-data-container">
    <div class="col s12 padding-zero">
        <div class="reimbursement-wrapper approvals-data" *ngIf="helpDeskTicketList.length > 0">
            <div class="row m-bottom0 header hide-on-med-and-down">
               <div class="col s12 m1 offset-m3">
                    <h5 class="title">Ticket ID</h5>
                </div>
                <div class="col s12 m1">
                    <h5 class="title">Request Date</h5>
                </div>
                <div class="col s12 m1">
                    <h5 class="title">Assigned To</h5>
                </div>
                <div class="col s12 m2">
                    <h5 class="title">Description</h5>
                </div>
                <div class="col s12 m1">
                    <h5 class="title">Type / Severity</h5>
                </div>
                <div class="col s12 m2">
                    <h5 class="title">Status</h5>
                </div>
                <div class="col s12 m1">
                </div>
            </div>
            <div class="approvals">
                <basic-grid [(source)]='rowData' gridPagination='bottom' gridOptions='{"colWidths":[100],"widthType":"%","useScroll":false}'
                    [isHeaderVisible]=false>
                    <basic-cell>
                        <template #bg let-item='row'>
                            <div class="approvals-wrapper">
                                <div class="row m-bottom0 valign-wrapper">
                                    <div class="col s12 m10 offset-m1 l3">
                                        <div class="row m-bottom0 employee-data">
                                            <div class="col s12 m4 center-align">
                                                <div class="employee-search-img">
                                                    <a><img [src]="item.imagePath" alt="" class="circle responsive-img"></a>
                                                </div>
                                                <div class="employee-id">
                                                    <h5>{{item.employeeId}}</h5>
                                                </div>
                                            </div>
                                            <div class="col s12 m8 search-result-align">
                                                <div class="employee-name">
                                                    <h5>{{item.employeeName}}</h5>
                                                </div>
                                                <div class="employee-profile">
                                                    <h6>{{item.designation}}</h6>
                                                    <h6>{{item.address|location}}</h6>
                                                </div>
                                                <div class="employee-contact-info">
                                                    <h6 class="email-id">{{item.email}}</h6>
                                                    <h6>t : +91 22 4153.0200 x 000</h6>
                                                    <h6>m : {{item.mobile}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Ticket ID</span>
                                        <div class="details-data">{{item.number}}</div>
                                    </div>
                                    <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Request Date</span>
                                        <div class="details-data">{{item.issueDate}}</div>
                                    </div>
                                    <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Assigned To</span>
                                        <div class="details-data">{{item.assignedToName}}</div>
                                    </div>
                                    <div class="col s12 m6 l2"><span class="expense-label hide-on-large-only">Description</span>
                                        <div class="details-data">{{item.description}}</div>
                                    </div>
                                    <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Description</span>
                                        <div class="details-data"> {{item.type}}<span>-</span>{{item.severity}}</div>
                                    </div>

                                    <div class="col s12 m6 l2"><span class="expense-label hide-on-large-only">Status</span><span *ngIf="item.status == 1">
                                           Pending For Approval
                                        </span>
                                        <span *ngIf="item.status == 2">
                                            Open
                                        </span>
                                        <span *ngIf="item.status == 3">
                                          Rejected
                                        </span>
                                        <span *ngIf="item.status == 4">
                                            In Progress
                                        </span>
                                        <span *ngIf="item.status == 5">
                                           On Hold
                                        </span>
                                        <span *ngIf="item.status == 6">
                                          Resolved
                                        </span>
                                        <span *ngIf="item.status == 7">
                                          Cancelled
                                        </span>
                                    </div>
                                    <div class="col s12 m6 l1">
                                        <div class="col s12 leave-action right-align valign-wrapper">
                                            <a *ngIf="item.status != 1" class="edit-icon expense-icon" title="Edit" type='button' value="Edit" href="/#/my/helpdesk/details/{{item.ID}}/0/{{selectedStatus}}"><i class="fa fa-pencil"></i></a>
                                            <a  *ngIf="item.status == 1" class="edit-icon expense-icon disabled " title="Edit" type='button' value="Edit" href="#"><i class="fa fa-pencil disabled "></i></a>
                                             <a href="/#/my/helpdesk/details/{{item.ID}}/1/{{selectedStatus}}" class=""><img src="assets/images/view-icon.svg" height="30px" width="30px" title="View Request"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </basic-cell>
                </basic-grid>
            </div>
        </div>
        <div class="row" *ngIf="helpDeskTicketList.length == 0">
            <div class="col s12 table-note">
                <span>No help desk tickets available</span>
            </div>
        </div>
    </div>
</div>
</div>
<loader-component [(loading)]='loaderModal' [(showMsg)]='loaderModalMsg' [callBackMsg]='loaderModalText' [cardLoading]="'isPage'"
    [isConformationModal]="isConformationModal"></loader-component>