<div class="breadcrumb-nav">
    <div class="row margin-zero">
        <div class="col s12">
            <h5>Appraisal Initiation
                <a href="/vibranthelp/help-landing-page.html" target="_blank" title="Help" class="help-btn"><i class="right fa fa-question-circle" aria-hidden="true"></i></a>
                <span class="right mandatory-message"><span *ngIf="isUs">US<a><img class="flag-img" src="/assets/images/us-flag.png" /></a></span>
                <span *ngIf="!isUs">IND<a ><img class="flag-img" src="/assets/images/india-flag.png" /></a></span></span>
            </h5>
        </div>
    </div>
</div>
<div>
    <div class="tab-container">
        <div class="row">
            <div class="col s12 tab-control padding-zero">
                <div class="col s12 m10 l8 padding-zero">
                    <ul class="tabs app-tabs" style="width: 100%;">
                        <!--<li class="tab"><a class="padding-zero" routerLink="" routerLinkActive="router-link-active">QUESTIONNAIRE</a></li>
                        <li class="tab"><a class="padding-zero" routerLink="" routerLinkActive="router-link-active">PARAMETERS</a></li>-->
                        <li class="tab"><a class="padding-zero" routerLink="/appraisal/admin/empList" routerLinkActive="router-link-active">LIST</a></li>
                        <div class="indicator" style="right: 0px; left: 454px;"></div><div class="indicator" style="right: 0px; left: 454px;"></div>
                    </ul>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>