<div class="breadcrumb-nav">
    <div class="row margin-zero">
        <div class="col s12">
            <h5>Appraisal
                <a href="vibrant_web_help/help-landing-page.html" target="_blank" title="Help" class="help-btn">
                    <i class="right fa fa-question-circle" aria-hidden="true"></i></a>
                <a href="approvals-reviewer-rating.html" target="_blank" title="Reviewer" class="help-btn">
                    <i class="right fa fa-dot-circle-o" aria-hidden="true"></i></a>
            </h5>
        </div>
    </div>
</div>
<div class="tab-container">
    <div class="row">
        <div class="col s12 tab-control padding-zero">
            <div class="col s12 m5 l2 padding-zero">
                <ul class="tabs app-tabs">
                    <li class="tab col s12"><a class="active" href="#appraisal">APPRAISAL</a></li>
                </ul>
            </div>
        </div>
        <div id="appraisal" class="col s12 padding-zero tab-content">
            <div class="row main-data-container">
                <div class="col s12 padding-zero">
                    <div class="reimbursement-wrapper appraisals">
                        <div class="rating-container">
                            <div class="row rating-content-appraiser">
                                <div class="row emp-details-panel">
                                    <div class="col s6 m6 l1 offset-l6 padding-zero m-bottom20">
                                        <div class="employ-img-appraiser">
                                            <a href="employee-details.html"><img src="assets/images/{{appraiseeDetails.ID}}.jpg" alt="" class="circle responsive-img"></a>
                                        </div>
                                    </div>
                                    <div class="col s8 m8 l5 status-progresbar1 padding-zero m-top20 ">
                                        <div class="progress appraisal-progress">
                                            <div class="determinate"></div>
                                        </div>
                                        <div class="raters-details length">
                                            <div class="app">Appraisee <br> {{appraiseeDetails.appraiseeName}} </div>
                                            <div class="app">Appraiser<br> {{appraiseeDetails.appraiserName}} </div>
                                            <div class="app">Reviewer<br> {{appraiseeDetails.reviewerName}} </div>
                                            <div class="app">One-To-One<br> {{appraiseeDetails.appraiserName}} </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s10 m10 l10 offset-l1">
                                    <div class="row content-rater">
                                        <div class="col s6 m6 l6 left-bar padding-zero">
                                            <div class="left-bar-content" *ngFor="let questions of appraiseeAnswerCollection">
                                                <div class="appraisee-quest quest-1">
                                                    <p>{{questions.question}}</p>
                                                </div>
                                                <div class="timeline-panel-appraiser ans-1">
                                                    <p class="rating-content">{{questions.answer}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s6 m6 l6 right-bar right-bar-appraiser">
                                            <div class="rating-panel">
                                                <div class="overall-rating appraiser-rate">
                                                    <div class="overall-rate-circle">
                                                        <select materialize="material_select" [(ngModel)]="averageRating">
                                                            <option value="" disabled="" selected="">Select</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="parameter-1" *ngFor="let parameter of appraiserParameterCollection">
                                                    <span class="parameter-heading">{{parameter.parameter}}</span>
                                                    <div class="param-rating" *ngIf="!isApplied">
                                                        <select materialize="material_select" [class.disabled]="isApplied==true" [(ngModel)]="parameter.score" class="rating-input content-breadth">
                                                            <option value="" disabled="" selected="">Select</option>                                  
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                    <div class="param-rating" *ngIf="isApplied">
                                                        <span class="appraiser-rating-val">{{parameter.score}}</span>
                                                    </div>
                                                </div>
                                                <div class="parameter-1 appraiser-comment">
                                                    <span class="parameter-heading">Appraiser's Comment</span>
                                                </div>
                                                <div class="col s12 m11 right-bar padding-zero">
                                                    <div class="timeline-panel-appraisee comment-box">
                                                        <div class="rating-comment">
                                                             <textarea class="materialize-textarea m-btm" style="height: 44px;" [(ngModel)]="appraiserComments" name="comments" id="comments" #comments="ngModel" required></textarea>
                                                            <div *ngIf="comments.errors && formSubmit==true" class="red">
                                                                <div [hidden]="!comments.errors.required">
                                                                    Comment is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s12 m-top20">
                                                    <div class="col s12">
                                                        <p class="margin-zero promotion-check">
                                                            <input type="checkbox" class="filled-in" id="promotion" [(ngModel)]="isPromotion">
                                                            <label for="promotion">Promotion Recomended:</label>
                                                        </p>
                                                        <div class="input-field promotion-check">
                                                            <input type="text" class="validate left" [(ngModel)]="promotionFor">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer padding-15-0 top-divider">
                        <div class="row valign-wrapper margin-zero">
                            <div class="col s12 m12 l6 right-align" *ngIf="!isApplied">
                                <a href="#" class="waves-effect waves-light btn custom-btn cancel" title="Cancel">Cancel</a>
                                <a class="waves-effect waves-light btn custom-btn submit" [class.disabled]="isPromotion==true && promotionFor==''" title="Submit" (click)='applyAppraiseeForm(comments)'>Apply</a>
                            </div>
                            <div class="col s12 m12 l6 right-align" *ngIf="isApplied">
                                <a href="#" class="waves-effect waves-light btn custom-btn cancel" title="Cancel">Cancel</a>
                                <a class="waves-effect waves-light btn custom-btn submit" title="Submit" (click)='submitAppraiseeForm()'>Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<loader-component [(loading)]='loaderModal' [(showMsg)]='loaderModalMsg' [callBackMsg]='loaderModalText' [cardLoading]="'isPage'"
    [isConformationModal]="isConformationModal"></loader-component>