<div class="breadcrumb-nav">
    <div class="row margin-zero">
        <div class="col s12">
            <h5>Appraisal
                <a href="vibrant_web_help/help-landing-page.html" target="_blank" title="Help" class="help-btn">
                    <i class="right fa fa-question-circle" aria-hidden="true"></i></a>
            </h5>
        </div>
    </div>
</div>
<div class="tab-container">
    <div class="row">
        <div class="col s12 tab-control padding-zero">
            <div class="col s12 m5 l2 padding-zero">
                <ul class="tabs app-tabs">
                    <li class="tab col s12"><a class="active" href="#appraisal">APPRAISAL</a></li>
                </ul>
            </div>
        </div>
        <div id="appraisal" class="col s12 padding-zero tab-content">
            <div class="row main-data-container">
                <div class="col s12 padding-zero">
                    <div class="reimbursement-wrapper appraisals">
                        <div class="rating-container">
                            <div class="row rating-content-reviewer">
                                <div class="col s12 m12 l12">
                                    <div class="row emp-details-panel">
                                        <div class="col s8 m8 l8 offset-l4 padding-zero">
                                            <div class="employ-img">
                                                <a href="employee-details.html"><img src="assets/images/3463.jpg" alt="" class="circle responsive-img"></a>
                                                <span class="employ-details">
                                                                          <p class="name-details">{{appraiseeDetails.ID}} | <span>{{appraiseeDetails.appraiseeName}}</span></p>
                                                <p class="raters-details">Appraiser: {{appraiseeDetails.appraiserName}} | <span>Reviewer: {{appraiseeDetails.reviewerName}}</span></p>
                                                </span>
                                            </div>
                                            <div class="hexagon">
                                                <select materialize="material_select" [(ngModel)]="finalAverageRating">
                                                                                        <option value="3">3</option>
                                                                                        <option value="2">2</option>
                                                                                        <option value="1">1</option>
                                                                                        <option value="4">4</option>
                                                                                        <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row content-rater">
                                        <div class="col s4 m4 l4 left-bar padding-zero">
                                            <div class="left-bar-content" *ngFor="let questions of appraiseeAnswerCollection">
                                                <div class="appraisee-quest quest-1">
                                                    <p>{{questions.question}}</p>
                                                </div>
                                                <div class="timeline-panel-appraiser ans-1">
                                                    <p class="rating-content">{{questions.answer}} </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s4 m4 l4 right-bar right-bar-appraiser">
                                            <div class="rating-panel">
                                                <div class="overall-rating appraiser-rate">
                                                    <div class="overall-rate-circle">
                                                        <span class="overall-rate-appraiser">{{appraiseAverageRating}}</span>
                                                    </div>
                                                </div>
                                                <div class="parameter-1" *ngFor="let parameter of appraiserParameterCollection">
                                                    <span class="parameter-heading">{{parameter.parameter}}</span>
                                                    <div class="param-rating-1">
                                                        <span class="appraiser-rating-val">{{parameter.score}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <textarea class="materialize-textarea m-btm" style="height: 44px;">{{appraiserComments}}</textarea>
                                        </div>
                                        <div class="col s3 m3 l3 right-bar right-bar-reviewer padding-zero">
                                            <div class="rating-panel-reviewer">
                                                <div class="overall-rating overall-reviewer" *ngIf="appraisalStatus != 4">
                                                    <div class="overall-rate-circle rate-circle-reviewer">
                                                        <select materialize="material_select" [(ngModel)]="averageRating">
                                                                                        <option value="3">3</option>
                                                                                        <option value="2">2</option>
                                                                                        <option value="1">1</option>
                                                                                        <option value="4">4</option>
                                                                                        <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="parameter-1-1" *ngFor="let parameter of reviewerParameterCollection">
                                                    <div class="param-rating-1 param-rating-appraisee">
                                                        <select materialize="material_select" [(ngModel)]="parameter.score">
                                                                                        <option value="3">3</option>
                                                                                        <option value="2">2</option>
                                                                                        <option value="1">1</option>
                                                                                        <option value="4">4</option>
                                                                                        <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      <textarea class="materialize-textarea m-btm" style="height: 44px;"  [(ngModel)]= "reviewerComments"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer padding-15-0 top-divider">
                        <div class="row valign-wrapper margin-zero">
                            <div class="col s12 m12 l6 right-align" *ngIf="!isApplied">
                                <a href="#" class="waves-effect waves-light btn custom-btn cancel" title="Cancel">Cancel</a>
                                <a class="waves-effect waves-light btn custom-btn submit" title="Submit" (click)='applyReveiwerForm()'>Apply</a>
                            </div>
                            <div class="col s12 m12 l6 right-align" *ngIf="isApplied">
                                <a href="#" class="waves-effect waves-light btn custom-btn cancel" title="Cancel">Cancel</a>
                                <a class="waves-effect waves-light btn custom-btn submit" title="Submit" (click)='submitReveiwerForm()'>Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>