<div id="" class="col s12 tab-content padding-zero" style="display: block;">
    <div class="row main-data-container">
        <div class="col s12 padding-zero">
            <div class="reimbursement-wrapper approvals-data" [hidden]="rowData.length == 0">
                <div class="row m-bottom0 header hide-on-med-and-down">
                    <div class="col s12 m2 offset-m3">
                        <h5 class="title">From > To</h5>
                    </div>
                    <div class="col s12 m1">
                        <h5 class="title">Leave Type</h5>
                    </div>
                    <div class="col s12 m1">
                        <h5 class="title">Leaves</h5>
                    </div>
                    <div class="col s12 m1">
                        <h5 class="title">Narration</h5>
                    </div>
                </div>
                <div class="approvals">
                    <basic-grid [(source)]='rowData' gridPagination='bottom' gridOptions='{"colWidths":[100],"widthType":"%","useScroll":false}'
                        [isHeaderVisible]=false>
                        <basic-cell>
                            <template #bg let-item='row'>
                                <div class="approvals-wrapper">
                                    <div class="row m-bottom0">
                                        <div class="col s12 m10 offset-m1 l3">
                                            <div class="row m-bottom0 employee-data">
                                                <div class="col s12 m4 center-align">
                                                    <div class="employee-search-img">
                                                        <img src="images/{{item.model.imagePath}}" alt="" class="circle responsive-img">
                                                    </div>
                                                    <div class="employee-id">
                                                        <h5>{{item.model.userId}}</h5>
                                                    </div>
                                                </div>
                                                <div class="col s12 m8 search-result-align">
                                                    <div class="employee-name">
                                                        <h5>{{item.model.userName}}</h5>
                                                    </div>
                                                    <div class="employee-profile">
                                                        <h6> {{item.model.currentDesignation}}</h6>
                                                        <h6> {{item.model.olText}}</h6>
                                                    </div>
                                                    <div class="employee-contact-info">
                                                        <h6 class="email-id">{{item.model.email}}</h6>
                                                        <h6 [hidden]="item.model.residenceNumber == 0">t : +91 {{item.model.residenceNumber}}</h6>
                                                        <h6>m : +91 {{item.model.mobile}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 m6 l2"><span class="expense-label hide-on-large-only">Date</span>{{item.model.fromDate}}
                                            <img class="arrow-right-img" src="assets/images/arrow-right.png"> {{item.model.toDate}}
                                        </div>
                                        <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Leave Type</span>
                                            <span>{{leaveTypes(item.model.leaveType)}}</span>
                                        </div>
                                        <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Leaves</span>{{item.model.leaves}}</div>
                                        <div class="col s12 m6 l2"><span class="expense-label hide-on-large-only">Narration</span>{{item.model.narration}}</div>
                                        <div class="col s12 m12 l3 align-bottom padding-zero">
                                            <ui-form #approvalForm [controlMetas]="statushub" [model]="item.statusModel" [formReadonly]='false' [errorOnlyOnSubmit]='cardSubmitted'
                                                formCss='view-card' columOrientation='2' controlCss='view-form-info' inputLabelPosition='top'>
                                                <ui-control-item for='statusComment' depends='["status:readonlyValue"]' readonlyValue="[2]">
                                                </ui-control-item>
                                            </ui-form>

                                            <div class="row">
                                                <div class="col s12 right-align padding-zero">
                                                    <a (click)="Cancel(item,item.statusModel)" class="waves-effect waves-light btn custom-btn cancel" title="Cancel">Cancel</a>
                                                    <a (click)="SaveLeave($event,item,item.statusModel,approvalForm.mainForm)" class="waves-effect waves-light btn custom-btn save-as-draft"
                                                        title="Save">Save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </basic-cell>

                    </basic-grid>
                </div>
            </div>
            <div class="row" [hidden]="rowData.length > 0">
                <div class="col s12 table-note">
                    <span>No data available for this year</span>
                </div>
            </div>
        </div>
    </div>
</div>
<loader-component [(loading)]='loaderModal' [(showMsg)]='loaderModalMsg' [callBackMsg]='loaderModalText' [cardLoading]="'isPage'"
    [isConformationModal]="isConformationModal"></loader-component>