<div class="top-section">
    <div class="breadcrumb-nav">
        <div class="row margin-zero">
            <div class="col s12">
                <h5>Employee Details for Approval
                    <a href="/vibranthelp/help-landing-page.html" target="_blank" title="Help" class="help-btn"><i class="right fa fa-question-circle" aria-hidden="true"></i></a>
                    <span class="right mandatory-message">
                    <span *ngIf="isUs">US<a><img class="flag-img" src="/assets/images/us-flag.png" /></a></span>
                    <span *ngIf="!isUs">IND<a ><img class="flag-img" src="/assets/images/india-flag.png" /></a></span>
                    </span>
                </h5>
            </div>
        </div>
    </div>

    <div class="row expense-card-container" *ngIf='employeeData.length !=0'>
        <div class="col s12 padding-zero">
            <!-- My Reimbursement -->
            <div class="approvals">
                <div class="reimbursement-wrapper approvals-data">

                    <basic-grid [(source)]='employeeData' gridPagination='bottom' gridOptions='{"colWidths":[100,25,20,30],"widthType":"%","useScroll":false}'
                        [isHeaderVisible]=false>
                        <basic-cell cell='' headerLabel=''>
                            <!--<repeater [source]='employeeData' >-->
                            <template #bg let-data='row'>
                                <div class="approvals-wrapper ">
                                    <div class="row m-bottom0 valign-wrapper">
                                        <div class="col s12 m6 offset-m3 l3">
                                            <div class="row m-bottom0 employee-data">
                                                <div class="col s12 m4 center-align">
                                                    <div class="employee-search-img">
                                                        <a><img src="{{'/images/'+data.imagePath+''}}" alt="" class="circle responsive-img"></a>
                                                    </div>
                                                    <div class="employee-id">
                                                        <h5>{{data.id}}</h5>
                                                    </div>
                                                </div>
                                                <div class="col s12 m8 search-result-align">
                                                    <div class="employee-name">
                                                        <a>
                                                            <h5>{{data.name}}</h5>
                                                        </a>
                                                    </div>
                                                    <div class="employee-profile">
                                                        <h6>{{data.designation}}</h6>
                                                        <h6>{{data.olText}}</h6>
                                                    </div>
                                                    <div class="employee-contact-info">
                                                        <h6>{{data.officialEmail}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Issue ID</span></div>
                                        <div class="col s12 m6 l1"><span class="expense-label hide-on-large-only">Request Date</span></div>
                                        <div class="col s12 m6 l3"><span class="expense-label hide-on-large-only">Change Request</span></div>
                                        <div class="col s12 m6 l2"><span class="expense-label hide-on-large-only">Last Updated Date</span></div>
                                        <div class="col s12 m6 l2"><span class="expense-label hide-on-large-only">Status</span><i class="fa fa-clock-o status-pending"
                                                aria-hidden="true" title="Pending">
                                                        </i> Pending
                                            <a routerLink="/approvals/profile/requestview/{{data.id}}"
                                                class="right expense-icon">
                                                <img src="/assets/images/view-icon.svg" height="30px" width="30px">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <!--</repeater>-->
                        </basic-cell>
                    </basic-grid>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="no-data-div" *ngIf="employeeData.length==0"><span class="no-data">No data available.</span></div>
<loader-component [(loading)]='loaderModal' [(showMsg)]='loaderModalMsg' [callBackMsg]='loaderModalText' [cardLoading]="'isPage'"
    [isConformationModal]="isConformationModal"></loader-component>