<div class="breadcrumb-nav" *ngIf="!searchUser">
	<div class="row margin-zero">
		<div class="col s12">
			<h5>Attendance
                <a href="/vibranthelp/help-landing-page.html" target="_blank" title="Help" class="help-btn"><i class="right fa fa-question-circle" aria-hidden="true"></i></a>
				<span class="right mandatory-message">
                    <span *ngIf="isUs">US<img class="flag-img" src="assets/images/us-flag.png" /></span>
					<span *ngIf="!isUs">IND<img class="flag-img" src="assets/images/india-flag.png" /></span>
				</span>
			</h5>
		</div>
	</div>
</div>
<div class="attendance-wrapper p-top5">
	<div class="row m-bottom0 valign-wrapper" [class.m-bottom10]="searchUser">
		<div class="col s6 m3 l1">
			<div>
				<select materialize="material_select" [materializeSelectOptions]="monthCollection" [(ngModel)]="selectedMonth" (change)="onMonthSelected($event.target.value)">
                    <option *ngFor="let option of monthCollection" [value]="option.value">{{option.label}}</option>
                </select>
			</div>
		</div>
		<div class="col s6 m3 l1">
			<div class="input-field margin-zero">
				<select materialize="material_select" [materializeSelectOptions]="yearCollection" [(ngModel)]="selectedYear" (change)="onYearSelected($event.target.value)">
                    <option *ngFor="let option of yearCollection" [value]="option.value">{{option.label}}</option>
                </select>
			</div>
		</div>
		<div class="col s12 m6 l10 list-view-options right-align valign m-top10" *ngIf="!searchUser">
			<a [class.active]="showChart==false" (click)="showChart=false;hideLineChartDetail()"><i class="fa fa-th" aria-hidden="true" title="Grid View"></i></a>
			<a [class.active]="showChart==true" (click)="showChart=true;showLineChartDetail()"><i class="fa fa-line-chart" aria-hidden="true" title="Chart View"></i></a>
			<!--<a href="attendance-us-calender-view.html"><i class="fa fa-calendar" aria-hidden="true" title="Calender View"></i></a>-->
		</div>
	</div>
	<div class="row attendance-data" *ngIf="!showChart">
		<div class="col s12 l6">
			<div class="row available-leaves m-bottom0 valign-wrapper">
				<div class="col s12 leave-data" style="display: flex;justify-content: center;">
					<doughnut-chart [data]="attendenceChartData" [labels]="attendenceChartlabels" [colors]="attendenceChartColors"></doughnut-chart>
				</div>
			</div>
			<div class="row">
				<div class="col s12 valign attend-record padding-zero">
					<div class="attend-tab-record">
						<ul class="tabs attendance-tabs" materialize="tabs" style="width: 100%;">
							<li class="tab">
								<a class="active present-color" href="#present-details">
									<h5 class="margin-zero">{{tempAttendenceChartData[0]}}</h5>
									<h6>Present</h6>
									<div class="present-border"></div>
								</a>
							</li>
							<li class="tab" *ngIf="tempAttendenceChartData[1]!=0">
								<a href="#remaining-details" class="remaining-color">
									<h5 class="margin-zero">{{tempAttendenceChartData[1]}}</h5>
									<h6>Remaining</h6>
									<div class="remaining-border"></div>
								</a>
							</li>
							<li class="tab" *ngIf="tempAttendenceChartData[2]!=0">
								<a href="#leave-details" class="leave-color">
									<h5 class="margin-zero">{{tempAttendenceChartData[2]}}</h5>
									<h6>Leave</h6>
									<div class="leave-border"></div>
								</a>
							</li>
							<li class="tab" *ngIf="tempAttendenceChartData[3]!=0">
								<a href="#holiday-details" class="holiday-color">
									<h5 class="margin-zero">{{tempAttendenceChartData[3]}}</h5>
									<h6>Holiday</h6>
									<div class="holiday-border"></div>
								</a>
							</li>
							<li class="tab" *ngIf="tempAttendenceChartData[4]!=0">
								<a href="#absent-details" class="absent-color">
									<h5 class="margin-zero">{{tempAttendenceChartData[4]}}</h5>
									<h6>Absent</h6>
									<div class="absent-border"></div>
								</a>
							</li>
							<li class="tab">
								<a href="#weekends-details" class="weekend-color">
									<h5 class="margin-zero">{{tempAttendenceChartData[5]}}</h5>
									<h6>WeekEnds</h6>
									<div class="weekend-border"></div>
								</a>
							</li>
							<li class="tab" *ngIf="weekEndsPresent!=0">
								<a href="#weekends-details-Present" class="present-weekend-color">
									<h5 class="margin-zero">{{weekEndsPresent}}</h5>
									<h6>Present On WeekEnds</h6>
									<div class="present-weekend-border"></div>
								</a>
							</li>
							<div class="indicator" style="right: 480px; left: 0px;"></div>
							<div class="indicator" style="right: 480px; left: 0px;"></div>
						</ul>
						<div id="present-details" class="attend-description hide-on-small-only">
							<p class="left-align">Total number of days present till date in current month.</p>
						</div>
						<div id="remaining-details" class="attend-description hide-on-small-only" style="display: none;">
							<p class="left-align">Number of days remaining in this month since today.</p>
						</div>
						<div id="leave-details" class="attend-description hide-on-small-only" style="display: none;">
							<p class="left-align">Number of leaves taken till date in current month.</p>
						</div>
						<div id="weekends-details-Present" class="attend-description hide-on-small-only" style="display: none;">
							<p class="left-align">Number of weekends day present in current month.</p>
						</div>
						<div id="absent-details" class="attend-description hide-on-small-only" style="display: none;">
							<p class="left-align">Number of days absent in current month.(No leave applied and no SignIn/SignOut entry)</p>
						</div>
						<div id="holiday-details" class="attend-description hide-on-small-only" style="display: none;">
							<p class="left-align">Number of holidays in current month.</p>
						</div>
						<div id="weekends-details" class="attend-description hide-on-small-only" style="display: none;">
							<p class="left-align">Number of weekends in current month.</p>
						</div>
						<div id="total-days-details" class="attend-description hide-on-small-only" style="display: none;">
							<p class="left-align">Total of all parameters on the left.</p>
						</div>

					</div>
				</div>
			</div>
			<div class="row margin-zero" *ngIf="isUs && !searchUser">
				<div class="col s12 center-align manual-attendance">
					<a *ngIf="!isSignIn" class="waves-effect waves-light btn-large sign-in" title="Sign In" (click)='PerformAutoSignIn($event, "SignIn")'><i class="left"><img src="assets/images/sign-in.png"></i><span class="hide-on-small-only">Sign In</span></a>
					<a *ngIf="!isSignOut && isSignIn" class="waves-effect waves-light btn-large sign-in" title="Sign Out" (click)='PerformAutoSignIn($event, "SignOut")'><i class="left"><img src="assets/images/signout.png"></i><span class="hide-on-small-only">Sign Out</span></a>
				</div>
			</div>
		</div>
		<div class="col s12 l6 padding-zero">
			<div class="row" *ngIf="isUs && !searchUser">
				<div class="col s12">
					<div class="apply-for-leave-container manual-box">
						<div class="header">
							<h4>Manual Entry</h4>
							<a class="right close  hide-on-large-only"><i class="material-icons small">close</i></a>
						</div>
						<form>
							<div class="row m-bottom0">
								<div class="col s12">
									<ui-form #addManualForm [controlMetas]="currentSiSOModelHub" [model]="currentSiSOModel" [formReadonly]='false' formCss=''
										controlCss='' [errorOnlyOnSubmit]='formSubmitted'>
										<ui-control-item *ngIf="isUs" for='date' behaviours='[ {"name":"max","value":"{{previousDay}}"},{"name":"min","value":"{{monthForAttendence}}"}]'></ui-control-item>
										<ui-control-item *ngIf="!isUs" for='date' behaviours='[ {"name":"max","value":"today"}]'></ui-control-item>
									</ui-form>
								</div>
							</div>
							<div class="row m-bottom0">
								<div class="col s12 leave-action right-align">
									<a class="waves-effect waves-light btn custom-btn submit" title="Submit" (click)='PerformManualSiso($event,currentSiSOModel,true,addManualForm.mainForm)'>Submit</a>
									<a class="waves-effect waves-light btn custom-btn reset" title="Cancel" (click)='ResetManualSiso()'>Cancel</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="table-container padding-zero" *ngIf="rowData">
				<div class="row m-bottom5">
					<div class="col s12">
						<basic-grid [(source)]='rowData' gridOptions='{"colWidths":[25,25,20,30],"widthType":"%","useScroll":true}'>
							<basic-cell cell='date' headerLabel='Date'>
								<template let-item='row'>
									<span [class.bold]="GetDays(item.date) == 'Sat' || GetDays(item.date) == 'Sun' || GetHoliday(item.date) == true">{{GetDays(item.date)}} </span>
									<span [class.bold]="GetDays(item.date) == 'Sat' || GetDays(item.date) == 'Sun' || GetHoliday(item.date) == true"> {{item.date}}</span>
								</template>
							</basic-cell>
							<basic-cell cell='signInTime' headerLabel='SignIn | SignOut Time'>
								<template let-item='row'>
									<span [class.bold]="GetDays(item.date) == 'Sat' || GetDays(item.date) == 'Sun' || GetHoliday(item.date) == true">{{item.signInTime | slice : 0:-3}}</span>
									<span [class.bold]="GetDays(item.date) == 'Sat' || GetDays(item.date) == 'Sun' || GetHoliday(item.date) == true"> | </span>
									<span [hidden]="item.signOutTime == '00:00:00'" [class.bold]="GetDays(item.date) == 'Sat' || GetDays(item.date) == 'Sun' || GetHoliday(item.date) == true">{{item.signOutTime | slice : 0:-3}}</span>
									<button class="edit-icon" [hidden]="!isEditeble(item) && !isUs" title="Edit" type='button' value="Edit" (click)="DisplayManualPage(item)"><i class="fa fa-pencil"></i></button>
								</template>
							</basic-cell>
							<basic-cell cell='totalHoursWorked' headerLabel='Total Hours Present'>
								<template let-item='row'>
									<span [class.bold]="GetDays(item.date) == 'Sat' || GetDays(item.date) == 'Sun' || GetHoliday(item.date) == true" [hidden]="item.totalHoursWorked=='0:0'">{{item.totalHoursWorked}}</span>
								</template>
							</basic-cell>
							<basic-cell cell='narration' headerLabel='Narration'>
								<template let-item='row'>
									<span [class.bold]="GetDays(item.date) == 'Sat' || GetDays(item.date) == 'Sun' || GetHoliday(item.date) == true">{{item.narration}}</span>
								</template>
							</basic-cell>
						</basic-grid>
					</div>
				</div>
			</div>
			<div class="row m-bottom10" *ngIf="rowData">
				<div class="col s12 table-note">
					<span><i>*</i>Please note that records shown In BOLD are for either a Sunday/Saturday or a Holiday.</span>
				</div>
			</div>
			<div class="row attendance-pagination m-bottom0" *ngIf="rowData">
				<div class="col s12">
					<div class="left">
						<a class="waves-effect waves-light prev-month btn" [class.disabled]="previousMonthEnabled==true" title="{{previousMonthValue}}"
							(click)="PopulateGridOnClick(previousMonthValue,'Previous')"><i class="fa fa-angle-double-left left" aria-hidden="true"></i> {{previousMonthValue}}</a>
					</div>
					<div class="right">
						<a class="waves-effect waves-light next-month btn" [class.disabled]="nextMonthEnabled==true" title="{{nextMonthValue}}" (click)="PopulateGridOnClick(nextMonthValue,'Next')"><i class="fa fa-angle-double-right right" aria-hidden="true"></i> {{nextMonthValue}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="showChart">
		<div class="col s12 m10 offset-m1 center-align m-top10">
			<div class="graph-container">
				<h5 class="left-align" *ngIf="totalHour">Total Hours : {{totalHour | number}}
					<span class="right chartText" *ngIf="present!=0"><b>{{present}}</b> Present</span>
				</h5>
				<div style="width: 100%;height: auto;" class="test">
					<line-bar-chart [data]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartChartColors" [chartType]="'bar'"></line-bar-chart>
				</div>
				<div class="row attendance-pagination m-top20">
					<div class="col s12">
						<div class="left">
							<a class="waves-effect waves-light prev-month btn" [class.disabled]="previousMonthEnabled==true" title="{{previousMonthValue}}"
								(click)="PopulateGridOnClick(previousMonthValue,'Previous')"><i class="fa fa-angle-double-left left" aria-hidden="true"></i> {{previousMonthValue}}</a>
						</div>
						<div class="right">
							<a class="waves-effect waves-light next-month btn" [class.disabled]="nextMonthEnabled==true" title="{{nextMonthValue}}" (click)="PopulateGridOnClick(nextMonthValue,'Next')"><i class="fa fa-angle-double-right right" aria-hidden="true"></i> {{nextMonthValue}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<loader-component [(loading)]='loaderModal' [(showMsg)]='loaderModalMsg' [callBackMsg]='loaderModalText' [cardLoading]="'isPage'"
	[isConformationModal]="isConformationModal"></loader-component>