<div class="navbar-fixed">
    <nav class="dark-gray">
        <sidenav-panel *ngIf='isUserLoggedIn' [navbar]='menu' [isActive]=isNavActive></sidenav-panel>

        <ul class="right right-nav">
            <li class="date-time-text">{{dateObj | date:'dd MMM yyyy'}}</li>
            <li class="hide-on-small-and-down" *ngIf='userProfile'><span>{{userProfile.lastName}}, {{userProfile.firstName}} ({{userProfile.id}})</span></li>
            <li><a><i (click)='Logout()' class="fa fa-power-off" *ngIf='isUserLoggedIn'></i></a></li>

        </ul>
        <sidenav-button [isActive]=isNavActive (click)="toggle($event)"></sidenav-button>
        <h5 class="header-title">
            <a [routerLink]="['']"><img src="/assets/images/logo-img.png" class="header-logo responsive-img"> VIBRANT <span>WEB </span></a>
            <div style='background:#494342;padding: 0 10px; display: inline-flex; height: 50px;'>
                <span>Impersonate : </span>
                <span><input type='number' [(ngModel)]='impersonate' /></span>
                <span><button (click)='OnImpersonate()' style='background:green;padding:0 15px;'> Do it!</button></span>
            </div>
        </h5>
    </nav>
</div>
<main class="attendance-main" *ngIf='isUserLoggedIn'>
    <router-outlet></router-outlet>
</main>
<footer class="page-footer">
        <div class="row footer-copyright m-bottom0">
            <div class="col s6 m6 l6 right-align m-top20 branding">
                © 2016 V2Solutions, Inc.
            </div>
            <div class="col s6 m6 l6 right-align" id="browsers">
                    <ul class="right">
                        <li>
                            <i class="fa fa-chrome" aria-hidden="true"></i>
                            <h6 class="margin-zero">Ver 50+</h6>
                        </li>
                        <li>
                            <i class="fa fa-firefox" aria-hidden="true"></i>
                            <h6 class="margin-zero">Ver 46+ (64-bit)</h6>
                        </li>
                        <li>
                            <i class="fa fa-safari" aria-hidden="true"></i>
                            <h6 class="margin-zero">Ver 10+</h6>
                        </li>                
                    </ul>
            </div>
        </div>
    </footer>
<loader-component [(loading)]='loaderModal' [(showMsg)]='loaderModalMsg' [callBackMsg]='loaderModalText' [cardLoading]="'isPage'"
    [isConformationModal]="isConformationModal"></loader-component>